%hamburger-line {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #173a56;
  border-radius: 5px;
  content: '';
}

.hamburger {
  position: relative;
  display: none;
  width: 36px;
  height: 31px;
  margin-top: 25px;
  margin-right: 35px;
  cursor: pointer;

  @include media-tablet {
    display: inline-block;
  }

  &::after {
    @extend %hamburger-line;

    top: 0;
    left: 0;
  }

  &::before {
    @extend %hamburger-line;

    bottom: 0;
    left: 0;
  }
}

.hamburger__line {
  @extend %hamburger-line;

  top: calc(50% - 1.5px);
  left: 0;
}

