%hamburger-line {
  content: "";
  display: inline-block;
  background: #173A56;
  border-radius: 5px;
  height: 3px;
  width: 100%;
  position: absolute;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 36px;
  height: 31px;
  position: relative;
  margin-right: 35px;
  margin-top: 25px;

  @include media-tablet {
    display: inline-block;
  }

  &:after {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }
  &:before {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
  left: 0;
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1.5px);
  left: 0;
}