$color-text: #828282;
$color-primary: #070707;
$color-background: #F6F6F6;
$color-starGrey: #E5E5E5;
$color-squareBlue: #31C5F0;
$color-squareOrange: #FF7F18;
$color-squareViolet: #D8A1FF;
$color-white: #FFFFFF;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
