.search__wrapper {
  padding: 50px 0 10px 15px;
  @include media-tablet {
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

.search {
  position: relative;
  display: inline-flex;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80%;
    width: 20px;
    height: 20px;
    margin: auto 0;
    background-image: url('../../public/images/search-icon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    content: '';
  }

  input {
    padding: 10px;
    border: 1px solid $color-primary;
    border-radius: 30px;
    cursor: pointer;
    @include media-tablet {
      width: 300px;
      max-width: 300px;
    }
    @include media-mobile {
      width: 200px;
      max-width: 220px;
    }

    &:focus {
      border: 2px solid $color-squareOrange;
      outline: none;
    }
  }
}
