.header {
  background: $color-background;
  box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 15px;
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  @include media-tablet {
    justify-content: space-between;
    padding: 10px 5px 10px 40px;
  }
  @include media-mobile {
    padding-left: 30px;
  }
}

.header__logo {
  display: flex;
  @include media-mobile {
    position: relative;
    flex-grow: 1;
    justify-content: flex-start;
  }
}

.header__hamburger {
  margin-right: 37px;
  @include media-mobile {
    position: absolute;
    left: 0;
  }
}

.logo {
  margin: 0;
}
