.header {
  background: $color-background;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 15px 30px 15px;
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  @include media-tablet {
    padding: 10px 5px 10px 40px;
    justify-content: space-between;
  }
  @include media-mobile {
    padding-left: 30px;
  }
}

.header__logo {
  display: flex;
  @include media-mobile {
    justify-content: flex-start;
    flex-grow: 1;
    position: relative;
  }
}

.header__hamburger {
  margin-right: 37px;
  @include media-mobile {
    position: absolute;
    left: 0;
  }
}
.logo {
  margin: 0;
}